<Context>
    <Realm className="org.apache.catalina.realm.JAASRealm"
           appName="Checker"
           userClassNames="com.whitedream.autheticate.principal.UserPrincipal,com.whitedream.autheticate.principal.PasswordPrincipal"
           roleClassNames="com.whitedream.autheticate.principal.RolePrincipal"/>
</Context>